@font-face {
  font-family: "MS Mincho";
  src: url("https://pe-hu.github.io/ver/font/MSMincho.ttc");
}

@font-face {
  font-family: "SimSong";
  src: url("https://pe-hu.github.io/ver/font/SimSong.ttc");
}

#title,
#org label,
#things p,
#things li b,
#readme,
footer p * {
  font-family: "MS Mincho", "SimSong", serif;
  font-weight: 500;
  font-stretch: condensed;
  font-variant: common-ligatures tabular-nums;
}

#description,
#about b,
#things li small,
#things li u {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

#org input[type="radio"]+label,
#about li b {
  text-transform: uppercase;
}

#things ul u {
  display: block;
  border: solid 1px;
  border-radius: 0.5rem;
  padding: 0.125rem 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
  text-decoration: none;
}

a,
input[type="radio"]:not(:checked)+label,
#readme {
  color: #ddd;
}

a:hover,
input[type="radio"]:checked+label {
  color: #000;
}

input[type="radio"]+label:hover {
  color: red;
}

nav label:not(:first-of-type)::before {
  content: "|";
  color: #000;
  font-weight: 900;
  margin: 0 0.5rem;
}

header {
  border-bottom: dotted #ddd 1px;
}

footer {
  border-top: dotted #ddd 1px;
}

#things::-webkit-scrollbar {
    width: 2rem;
    height: 2rem;
}

#things::-webkit-scrollbar-track {
    background-color: transparent;
}

#things::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #ddd;
}
